/* Color Palette 
f5f5f5
30e3ca
2f89fc
40514e
https://colorhunt.co/palette/138016
*/

body {
    background-color: #f5f5f5
}

.inputFile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile + label {
    font-size: 1.25em;
    font-weight: 700;
    color: white;
    background-color: black;
    display: inline-block;
    width: 10rem;
    height: 10rem;
}

.inputfile:focus + label,
.inputfile + label:hover {
    background-color: red;
}